.card#exchange_box
  .card-header.text-center
    .row
      .col-md-3.wrap
        %span#dollar-sign.iconify(data-icon="ion:logo-usd" data-inline="true")
        %label.label
          .toggle
            %input.toggle-state(type="checkbox" name="check" value="check")
            .toggle-inner
              .indicator
            .active-bg
        %span#bitcoin.iconify(data-icon="mdi-bitcoin" data-inline="true")

      .col-md-6
        %span#card-title Type the desired amount

      .col-md-3
        %span#swap
          %i#swap_icon.material-icons cached

  .card-block
    = form_tag('/convert_currency', method: :get, id: 'exchange_form') do
      .row
        #source.col-md-4.offset-md-1
          .form-group
            %p.title Source
            = select_tag 'source_currency', options_for_select(currency_list, 'USD'), class: 'form-control', id: 'source_currency'

          .form-group
            %input.form-control(type="text" id="amount" placeholder="Amount" step="any")

        #arrows.col-md-2
          %i#arrows_icon.material-icons compare_arrows

        #target.col-md-4
          .form-group
            %p.title Target
            = select_tag 'target_currency', options_for_select(currency_list, 'BRL'), class: 'form-control', id: 'target_currency'

          .form-group
            %input.form-control(type="text" id="result" placeholder="Result" readonly)
