.card#exchange_box {
  margin: 10px auto;
  box-shadow: 1px 1px #555;
  border: 0;

  .card-header {
    background-color: #74767A;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
  }

  .card-block {
    padding-top: 10px;
    padding: 20px;

    .title {
      color: #878d99;
      font-family: 'Varela Round', sans-serif;
      font-weight: 700;
    }

    #equals {
      text-align: center;
      font-size: 60px;
      margin-top: 5%;
      font-weight: 200;
    }
  }
}

@media only screen and (max-width : 992px) {
  .card-header {
    font-size: 25px;
  }

  .title{
    margin-top: 30px;
    font-size: 20px;
  }

  .form-group {
    select {
      font-size: 20px;
      height: 50px !important;
    }

    input {
      font-size: 20px;
      height: 50px;
    }
  }

  #result {
    margin-bottom: 20px;
  }

  .btn-exchange {
    font-size: 20px;
  }
}