.card#exchange_box {
  margin: 10px auto;
  box-shadow: 1px 1px #555;
  border: 0;

  .card-header {
    background-color: #74767A;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    padding-top: 20px;

    .switch {
      margin-top: 10px !important;
    }

    #dollar-sign, #bitcoin {
      position: absolute;
      font-size: 22px;
      left: 20px;
    }

    #bitcoin {
      position: absolute;
      font-size: 22px;
      left: 100px;
    }

    #swap {
      cursor: pointer;
    }

    #swap_icon {
      position: absolute;
      margin-right: 10%;
      right: 0;
    }
  }

  .card-block {
    padding-top: 10px;
    padding: 20px;

    .title {
      color: #878d99;
      font-family: 'Varela Round', sans-serif;
      font-weight: 700;
    }

    #arrows {
      text-align: center;
      margin-top: 10%;

      #arrows_icon {
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-width : 992px) {
  .card-header {
    font-size: 25px;
  }

  .title{
    margin-top: 30px;
    font-size: 20px;
  }

  .form-group {
    select {
      font-size: 20px;
      font-family: 'Varela Round', sans-serif;
      height: 50px !important;
    }

    input {
      font-size: 20px;
      font-family: 'Varela Round', sans-serif;
      height: 50px;
    }
  }

  #result {
    margin-bottom: 20px;
  }

  .btn-exchange {
    font-size: 20px;
  }
}